@charset "utf-8";
/* CSS Document */

body
{
	background-color: #CCCCCC;
}

#splash, #playground
{
	background-color: #000000;
	width: 800px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#game
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#wrapper
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:4;
	background-color:#C9E4ED;
}

#mainMenu
{
	position:absolute;
	margin:auto;
	height:600px;
	width:800px;
	z-index:5;
	top: 10px;
	left: 0;
	right: 0;
	background-image:url('images/Shower Main.png');
	font-size:30px;
}

#mainMenu ul
{
	list-style:none;
}

#mainMenu ul span:hover
{
	color:#444;
	cursor:pointer;
}

#menu
{
	width: 224px;
	height: 256px;
	background-color: #FFFFFF;
	position: absolute;
	margin-left: 32px;
	margin-top: 32px;
}

#scoreboard
{
	width: 224px;
	height: 96px;
	background-color: #111111;
	color:gray;
}
#scoreboard:hover
{
	color:white;
}

#scoreboard ul
{
	list-style:none;
	margin:0;
}

#buildmenu
{
	width: 224px;
	height: 160px;
	background-color: #111111;
}

.container
{
	padding: 7px;
	display: inline-block;
	height: 48px;
	color:gray;
	font-weight:bold;
	cursor:default;
	user-select:none;
}

.container:not(.expensive):hover
{
	background-color:rgba(255,255,255,0.25);
	color: white;
	cursor:pointer;
}

.container:hover span
{
}

.container span
{
	display: block;
	text-shadow:1px 1px 1px black;
}
.container .cost
{
	margin-top: -47px;
}

.container img
{
	margin: 0;
	float: left;
}

#tile
{
	opacity:1;
	z-index:6;
	height:32px;
	width:32px;
	position:absolute;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:opacity .2s linear;
	-moz-transition:opacity .2s linear;
	-ms-transition:opacity .2s linear;
	-o-transition:opacity .2s linear;
	transition:opacity .2s linear;
}

#tile.hidden
{
	opacity:0;
}

.drain
{
	background-image:url("images/drain.png");
}

#target
{
	display:none;
	border-color:black;
	border-style:dashed;
	border-width:3px;
	width:32px;
	height:32px;
	position:absolute;
	top:0;
	left:0;
	-webkit-transition:border-color .1s linear
	/*-moz-transition:border-color .1s linear
	-ms-transition:border-color .1s linear
	-o-transition:border-color .1s linear
	transition:border-color .1s linear*/
}
#target.neutral
{
	border-color:black;
}
#target.good
{
	border-color:green;
}
#target.bad
{
	border-color:red;
}

#quit
{
	position:absolute;
	top:5px;
	left:5px;
	font-size: 30px;
	font-weight: bold;
	cursor:pointer;
}

.container.expensive
{
	color:red;
}